.blog-card {
    margin-bottom: 15px;
  }
  
  .blog-title {
    text-decoration: none;
  }
  .spinner {
    position: absolute;
  }
  
  // a:hover {
  //   color: indianred;
  // }
  .spinner-container{
    position:relative;
    left:60%;
    justify-content: center;
    height: 100%;
  }

  button {
    outline:none;
  }