.blog-card {
    margin-bottom: 15px;
  }
  
  .blog-title {
    display:flex;
    text-decoration: none;
    justify-content: space-between;
  }
  
  // a:hover {
  //   color: indianred;
  // }
  .spinner-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  button {
    outline:none;
  }